{% extends 'base.html' %}

    {% block title %}Most Liked Fossils{% endblock %}

    {% block body %}
    <h1>Welcome, {{ username }}</h1>
    <div class="fossil-div">
      {% for fossKey, fossVal in MOST_LIKED_FOSSILS %}
      <h3>{{ username }}, this is {{ fossVal.name }}</h3>
      <h2> Liked {{ fossVal.num_likes }} times.</h2>
      <img src="{{ fossVal.img }}" />
      {% endfor %}
    </div>
    <div>
      <form action="/like-fossil" method="post">
        <select name="likedFoss" id="">
          <option value="">-- Please select one --</option>
          {% for fossKey, fossVal in MOST_LIKED_FOSSILS %}
          <option value="{{ fossKey }}">{{ fossVal.name }}</option>
          {% endfor %}
        </select>
        <input type="submit">
      </form>
    </div>
    {% endblock body %}

